R8M3 is an anonymous photo-sharing and rating application designed by Alastair Paragas and Anil Jason of Stela Inc. Copyright 2014. 
<br/><br/> 
If you have any suggestions or recommendations on how we can best improve the app, do not hesitate to contact us at us@r8m3.com. 
<br/><br/> 
Interested in Stela? We are a group of active programmers and designers bent on creating products that promote freedom and transparency.
<br/><br/> 
Home Screen image courtesy of Superfamous Studios under <a href="#" ng-click='externalLink("http://creativecommons.org/licenses/by/3.0/")'>Creative Commons Attribution 3.0 License</a>.