$ionicons-font-path: "../lib/ionic/fonts" !default;
$light: #fff;
$stable: #95a5a6;
$positive: #3498db;
$calm: #1abc9c;
$balanced: #2ecc71;
$energized: #e98b39;
$assertive: #e74c3c;
$royal: #9B59B6;
$dark: #34495E;
$base-background-color: #1D4670;
$base-color: lighten($base-background-color, 50%);