<ion-view>
    <ion-pane class="pane background-splash">
        <div class="row row-center" style="height:100%;">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h1 class="text-center text-shadow animated fadeInDown">R8M3</h1>
                        <p class="text-center text-shadow animated fadeInDown">Snap, view, and rate pictures</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="button button-block button-transparent icon-left ion-log-in animated fadeInDown" ng-click="login.modal.show()">Login</button>
                    </div>
                    <div class="col">
                        <button class="button button-block button-transparent icon-left ion-person-add animated fadeInDown" ng-click="register.modal.show()">Sign Up</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="#/app/camera-snap" class="button button-block button-transparent icon-left ion-android-camera animated fadeInDown">Take a Guest Snap</a>
                    </div>
                </div>
            </div>
        </div>
    </ion-pane>
</ion-view>