<ion-view>
    <ion-pane>
        <ion-slide-box ng-init="disableSideMenu()" on-slide-changed="slideHasChanged($index)" show-pager="false">
            <ion-slide>
                <img src="https://s3.amazonaws.com/ooomf-com-files/Vgu1RUfKT3WN1ZYxSWaR_14672519443_13d8873062_k.jpg" />
            </ion-slide>
            <ion-slide>
                <img src="https://s3.amazonaws.com/ooomf-com-files/bXoAlw8gT66vBo1wcFoO_IMG_9181.jpg" />
            </ion-slide>
            <ion-slide>
                <img src="https://s3.amazonaws.com/ooomf-com-files/LGhxuAbT5Wop4JYcrMpV_IMG_3808.jpg" />
            </ion-slide>
        </ion-slide-box>
    </ion-pane>
</ion-view>