@import "variables";

.text-shadow{
    text-shadow: 0px 0px 2px #999;
}
.block-center{
    margin-left: auto;
    margin-right: auto;
}

.animated.fadeInDown{
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.transparent-large{
    opacity: 0.2;
}
.transparent-medium{
    opacity: 0.5;
}
.transparent-small{
    opacity: 0.8;
}

.background-splash{
    background: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    h1, h2, h3, h4, h5, h6, p{
        color: white;
    }
}

.no-background{
    background: none;
    border: 0px;
}

img{
    .block{
        display: block;
    }
    .responsive{
        @extend .block;
        width: 100%;
        height: auto;
    }
}

.imgNormalizer{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    img{
        @extend .block;
    }
}

#snapUpload{
    position: absolute;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    height: 0%;
    transition: height 2s;
    filter: blur(20px);
    h1,h2,h3,h4,h5,h6,p{
        color: white;
        text-align: center;
    }
    &.failed{
        background: rgba($assertive, 0.4); 
    }
    &.notFailed{
        background: rgba($balanced, 0.4);   
    }
}