<ion-view title="">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="row">
            <div class="col">
                <h1 class="Artbrush text-center highlight">R8M3</h1>
                <p class="text-center"><b>R8M3</b> allows you to snap and upload pictures for other people to view and score. View and score other's pictures, all while staying anonymous. You never know what pictures you're going to get.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="button button-full button-positive" ng-click="login.modal.show()"><i class="icon ion-log-in"></i> Login</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="button button-full button-positive" ng-click="register.modal.show()"><i class="icon ion-person-add"></i> Sign Up</a>
            </div>
        </div>
        <di class="row">
            <div class="col">
                <a class="button button-full button-assertive" ng-click="takePicture()"><i class="icon ion-android-camera"></i> Take a Guest Snap</a>
                <p class="text-center">Snap or upload a random picture. Let the webs decide how it scores</p>
            </div>
        </di>
    </ion-content>
</ion-view>
