<ion-view>
    
    <ion-pane scroll="false" ng-init="picture.takePicture()">
        <img class="fullScreen" ng-src="{{picture.file}}" />
        
        <div id="snapUpload" class="row row-center" ng-show="picture.progress > 0" 
             ng-style="{ 'height': picture.progress + '%' }" ng-class="{notFailed: !picture.failed, failed: picture.failed}">
            <div class="col">
                <span ng-hide="picture.failed">
                    <h1>{{ picture.progress }}% Uploaded</h1>
                    <h2 ng-show="picture.progress == 100">Image code: {{ picture.data.info.id }}</h2>
                </span>
                <span ng-show="picture.failed">
                    <h1>Upload Failed.</h1>
                    <h2 ng-hide="isOnline()">You are not connected to the internet.</h2>
                    <h2 ng-show="picture.data.message">{{ picture.data.message }}</h2>
                </span>
            </div>
        </div>
        
    </ion-pane>
    
    <ion-footer-bar class="bar-balanced">
        <div class="col-33 text-center">
            <button class="button button-clear" ng-click="picture.takePicture()">
                <i class="icon ion-ios7-undo"></i>
            </button>
        </div>
        <div class="col-33 text-center">
            <a class="button button-clear" href="#/app/home">
                <i class="icon ion-home"></i>
            </a>
        </div>
        <div class="col-33 text-center">
            <button class="button button-clear" ng-click="picture.uploadPicture(picture.file)" ng-disabled="picture.failed">
                <i class="icon ion-upload"></i>
            </button>
        </div>
    </ion-footer-bar>
    
</ion-view>