<div class="modal" animation="fade-in">
    <ion-header-bar>
        <h1 class="title">Login</h1>
        <div class="buttons">
            <button class="button button-positive icon ion-close" ng-click="login.modal.hide()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form name="login.data" ng-submit="login.submit()" novalidate>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="login.data.username" placeholder="Your username" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="login.data.password" placeholder="Your password" required>
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit" ng-disabled="login.data.$invalid">Log in</button>
                </label>
            </div>
        </form>
        <div class="row">
            <div class="col">
                <p class="text-center" ng-show="login.message != undefined">
                    {{ login.message }}
                </p>
            </div>
        </div>
    </ion-content>
</div>

